.main-layout{
    height: 100vh;
    padding: 65px 30px;
  }
  
  .layout-box{
      background-color: white;
      padding: 12px 12px;
      border-radius: 15px;
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  
  }
  
  .pagination {
      display: flex;
      list-style: none;
      padding: 0;
      margin: 6px 0;
    }
    
    .pagination li {
      margin-right: 10px;
    }
    
    .pagination a {
      text-decoration: none;
      padding: 4px 8px;
      border: 1px solid rgb(125 211 252);
      border-radius: 5px;
      color: rgb(3 105 161);
      cursor: pointer;
    }
    
    .pagination .active a {
      background-color: rgb(3 105 161);
      border: 1px solid rgb(3 105 161);
      color: white;
    }
    
    .pagination a:hover {
      background-color: rgb(3 105 161);
      border: 1px solid rgb(3 105 161);
      color: white;
    }
  
